{
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/img-has-alt": "off",
    "comma-dangle": "off",
    "import/no-extraneous-dependencies": "off",
    "jsx-a11y/href-no-hash": "off"
  },
  "env": {
    "jest": true
  }
}
